
//@use 'components';

@mixin section-display{
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

html{
    min-width: 100vw;
}


body{
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd ;
}


.logo img{
    max-width: 7rem;
}


.sec-home{
    display: flex;
    align-items: center;
    @include section-display;

    .home-cta{
        flex: 1;
        .cta-text{
            //color: components.$color-main;
            color: $color-main;
        }
    }
    .home-title{
        width: 20rem;
        font-size: 3rem;
    }

    .home-description{
        width: 310px
    }

    .lead-magnet{
        .input-col{
            max-width: 210px
        }
    }
}


.sec-features{
    @include section-display;

    .intro{
        text-align: center;
        h3{
            font-size: 1.8rem;
        }

        p{
            font-size: 1rem;
            color: #888;
        }
    }

    .features{
        display: flex;
        gap: 1rem;
        align-items: center;
        .text{
            padding: 2rem 0;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    margin-left: 1rem;
                    .description-title{
                        font-size: 1.15rem;
                    }
                    .description-text{
                        font-size: 1rem;
                    }
                }
            }
        }

        .image{
            max-width: 60%;
        }
    }
}


.sec-benefits{
    border-top: 1px solid rgb(211, 207, 207);
    @include section-display;
    @extend .sec-features, .intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .benefit-cards{
        width: 100%;
    }

}

.sec-kpis{
    background-color: $color-main;
    color: white;
    padding: 4rem;
    width: 100%;
    margin: 0;

    .kpi{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .number{
            font-size: 3.5rem;
            font-weight: 600;
        }

        .desc{
            font-size: .9rem;
            color: #ffffffaa;
        }
    }

}

.sec-onboarding{
    @include section-display;
    @extend .sec-benefits, .intro;

    .steps{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .step-separator{
            border-top: 2px solid #ddd;
            flex: 1;
            margin: 0 1rem;
        }
    }

}

.sec-footer-cta{
    background-color:$color-footer;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 5rem;

    .footer-cta{
        width: 50%;
        .cta-title{
            font-size: 2rem;
        }

        .cta-description{
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 768px){

    .sec-benefits{
        .intro{
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }


    .sec-onboarding{
        .steps{
            flex-direction: column;
        }
    }

    .sec-footer-cta{
        background-image: none;

        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }
}